main{
    .pedido{
        background-color: #cdb4db;
        font-family: map-get($fuentes, principal);
        border-radius: $border-radius;
        border: $border;
        color: black;
        letter-spacing: 2px;

    }

}